/*Variables*/
:root {
  --color-principal: #619cd6;
  --color-fondo: rgb(225, 228, 232);
  --color-fondo-secundari: rgb(247, 253, 253);
  --color-click: rgb(138, 204, 138);
  --tamany-h3: 40px;
  --tamany-h2: 20px;
  --tamany-lletra-normal: 18px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  background-color: var(--color-fondo);
}

main {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

header {
  display: block;
  font-size: var(--tamany-lletra-normal);
}

.navbarPare {
  display: flex;
  flex-direction: column;
  background-color: var(--color-principal);
  font-size: var(--tamany-lletra-normal);
  width: 10em;
  min-height: 100vh;
}

.navbarPare ul {
  list-style: none;
  font-size: var(--tamany-lletra-normal);
}

.seccioTitolPrincipal {
  align-self: center;
}

.navbarPare li a {
  text-decoration: none;
  color: black;
  display: block;
  padding: 10px 0;
}

.principal {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  padding: 30px;
}

/*Botons*/

button {
  background-color: var(--color-principal);
  padding: 0.7em;
  margin: 0.5em;
  border-radius: 1em;
}

button:hover {
  background-color: var(--color-click);
  cursor: pointer;
}

/*Seccio accions pare*/

.seccioAccionsPare {
  display: inline-flex;
  justify-content: space-between;
  margin-top: 2em;
  margin-bottom: 3em;
  background-color: var(--color-fondo-secundari);
  padding: 1em;
  border-radius: 1em;
}

/*Secció pendents*/

.seccioPendentsPare {
  display: flex;
  margin-bottom: 3em;
}

/*Seccio acabades*/

.seccioAcabadesPare {
  display: flex;
  flex-direction: column;
  margin-bottom: 2em;
}
.script {
  flex-grow: 1;
  margin-top: 2em;
  width: fit-content;
  height: 30em;
  max-width: 20em;
}

/*CSS CREAR TASCA*/

.seccioFormTasca {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  padding: 2em;
  line-height: 2em;
}

.seccioFormTitol {
  font-size: var(--tamany-h2);
  padding: 2em;
}

.seccioTasca {
  display: flex;
  justify-content: center;
  background-color: var(--color-fondo-secundari);
  font-size: var(--tamany-lletra-normal);
}
